.header {
  padding: 20px 20px;
  background: var(--Black, #232536);
}

.header__nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__logo:hover {
  opacity: 0.65;
}

.header__menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}

.header__sub-menu {
  margin-left: 50px;
}

.header__menu-link {
  color: var(--Light, #FFF);
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
}

.header__link{
  color: #FFF;
}

.header__menu-link:hover {
  color: #fae3a1;
}

.header__sub-menu-link {
  padding: 15px 40px;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
  color: #232536;
  background: var(--Light, #FFF);
}

.header__sub-menu-link:hover {
  color: #232536;
  background-color: #fae3a1;
}

.active {
  color: #FFD050;
}

.header__sub-menu-item .active {
  color: #232536;
  background-color: #FFD050;
}

.burger__btn {
  background-color: transparent;
  border: none;
  display: none;
}

.burger__btn-img {
  width: 20px;
  height: 20px;
}

.open {
  position: absolute;
  flex-wrap: wrap;
  display: block !important;
  background-color: #232536;
  padding: 20px;
  top: 70px;
  left: 0;
  right: 0;
  z-index: 99999;
}

@media only screen and (max-width: 768px) {
  .burger__btn {
    display: block;
  }

  .header__menu {
    display: none;
  }
}